<div id='page-editor'>

<div class='header'>
  <h1></h1>
  <p>You&rsquo;re editing a web page!</p>
</div>


<div id='page-editor-content' class='content'>
  <div id='page-editor-nav' class='page-editor-nav'>
    <span id='button-preview' class='editor-nav'>Preview</span>
    <span id='button-publish' class='editor-nav'>Publish</span>
    <span id='button-abort' class='editor-nav'>Abort Changes</span>
  </div>
  
  <textarea id='editor' class='editor'></textarea>
  
</div>

</div> <!-- #page-browser -->
