<div id='page-password'>

<div class='header'>
  <h1>Welcome to LocalCMS</h1>
  <p>You need to set up a few things before you start editing web pages</p>
</div>


<div id='page-password-content' class='content'>
  <div class='center-column'>

    <p>Enter your GitHub password to enable secure publishing.</p>

    <div class='form'>
      <div class='form-row'>
        <p class='form-label'>GitHub Password</p>
        <input id='password-password'
               type='password' />
      </div>
      <div class='form-row'>
        <button id='button-password-done' class='button'>Start Editing</button>
      </div>
    </div>

  </div>
</div>

</div> <!-- #page-password -->
