<div id='page-welcome'>

<div class='header'>
  <h1>Welcome to Ain&rsquo;t CMS</h1>
  <p>It&rsquo;ll let you edit websites, but it&rsquo;s not exactly a content
  management system</p>
</div>


<div id='page-welcome-website-config' class='content'>
  <div class='center-column'>

    <p>To get started, you&rsquo;ll need a GitHub account and access to the
    repository that contains the website you want to edit.</p>

    <div class='form'>
      <div class='form-row'>
        <p class='form-label'>GitHub Username</p>
        <input id='welcome-full-name'
               value='rhodson-cf'
               type='text' />
      </div>
      <div class='form-row'>
        <p class='form-label'>GitHub Password</p>
        <input id='welcome-password'
               type='password' />
      </div>
      <div class='form-row'>
        <p class='form-label'>Git Repo (Git this from your web developer. Tell
        them it must be an HTTPS URL)</p>
        <input id='welcome-git-repo'
               value=''
               type='text' />
      </div>
      <div class='form-row'>
        <button id='button-start-editing' class='button'>Start Editing</button>
        <div class='form-status'></div>
      </div>
    </div>

  </div>
</div>

</div> <!-- #page-welcome -->
