<div id='page-welcome'>

<div class='header'>
  <h1>Welcome to LocalCMS</h1>
  <p>You need to set up a few things before you start editing web pages</p>
</div>


<div id='page-welcome-website-config' class='content'>
  <div class='center-column'>

    <p>You need to configure the website you&rsquo;re editing.</p>

    <div class='form'>
      <div class='form-row'>
        <p class='form-label'>GitHub Username</p>
        <input id='welcome-full-name'
               value='rhodson-cf'
               type='text' />
      </div>
      <div class='form-row'>
        <p class='form-label'>GitHub Password</p>
        <input id='welcome-password'
               type='password' />
      </div>
      <div class='form-row'>
        <p class='form-label'>Git Repo (Git this from your web developer. Tell
        them it must be an HTTPS URL)</p>
        <input id='welcome-git-repo'
               value='https://github.com/rhodson-cf/localcms-sample-site.git'
               type='text' />
      </div>
      <div class='form-row'>
        <button id='button-start-editing' class='button'>Start Editing</button>
        <div class='form-status'></div>
      </div>
    </div>

  </div>
</div>

</div> <!-- #page-welcome -->
